<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Photo Gallery</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app">

    <!-- Count Liked and Count Photos -->
    <div id="count">
      <h1 class="text-5xl font-bold tracking-tighter text-blue-800 title-font mx-auto text-center mt-10">My Photo
        Gallery
        ( {{photos.length}} ), You liked ( {{countLike}} )</h1>
    </div>

    <!-- Search Bar -->
    <photo-search :form="form" @search="search"></photo-search>

    <!-- ฺBig Picture -->
    <div v-if="isBigPicture">
      <photo-view @close-picture="closeBigPicture" :zoom="zoom"></photo-view>
    </div>

    <!-- Photo Gallery -->
    <div class="py-5 pl-10" v-if="searched.length != 0" v-for="(photo,index) in searched">
      <photo-item :photo="photo" @big-picture="bigPicture" @like-picture="toggleLike"></photo-item>
    </div>

    <!-- If no photo show "No Photo" -->
    <div id="no-photo" v-else class="text-4xl font-bold tracking-tighter text-center text-blue-800 mt-48">
      <h2>No Photo</h2>
    </div>

  </div>
  <script src="main.js"></script>
  <script src="components/Photoitem.js"></script>
  <script src="components/PhotoSearch.js"></script>
  <script src="components/PhotoView.js"></script>

  <script>
    app.mount('#app')
  </script>
</body>

</html>